%input, .btn {
  @include light-font-family();
  border-radius: 7px;

  &.error {
    border-color: red;
  }
}

.form-control, select.form-control:not([size]):not([multiple]) {
  @extend %input;
}

.btn {
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2),0 2px 3px rgba(0, 0, 0, .05);
  transition-property: color, background-color;
  transition-duration: 250ms;

  .fa-spin {
    font-size: 1.1rem;
  }

  &--inverted-primary {
    @include button-variant($gray, white, $primary-color);
    &:hover, &:focus {
      background-color: #fafafa;
    }
  }


  &--facebook {
    @include button-variant(white, $facebook-blue, $facebook-blue);
  }
}

//.input-group-addon {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  min-width: 46px;
//  border-radius: 0;
//  .fa {
//    font-size: 1.35em;
//  }
//}