@mixin media($type) {
  @if $type == extra-small {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }
  @else if $type == small {
    @media only screen and (max-width:767px) {
      @content;
    }
  }
  @else if $type == medium {
    @media only screen and (max-width:992px) {
      @content;
    }
  }
  @else if $type == large {
    @media only screen and (max-width:1200px) {
      @content;
    }
  }
  @else if $type == extra-large {
    @media only screen and (max-width:120000px) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width:$type) {
      @content;
    }
  }
}

// Fonts
@mixin light-font-family() {
  font-family: $light-font-family, sans-serif;
}

@mixin thin-font-family() {
  font-family: $thin-font-family, sans-serif;
}

@mixin bold-font-family() {
  font-family: $bold-font-family, sans-serif;
}

@mixin regular-font-family() {
  font-family: $regular-font-family, sans-serif;
}

@mixin brand-font-family() {
  font-family: $brand-font-family, sans-serif;
}

@mixin font-awesome-family() {
  font-family: FontAwesome, sans-serif;
}

// Appearance
@mixin appearance ($value) {
	-webkit-appearance: $value;
	   -moz-appearance: $value;
	        appearance: $value;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin col-lg() {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    @content;
  }
}

@mixin col-md() {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    @content;
  }
}

@mixin col-sm() {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    @content;
  }
}

@mixin col-xs() {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    @content;
  }
}

@mixin col() {
  @include col-lg() {
    @content;
  }
  @include col-md() {
    @content;
  }
  @include col-sm() {
    @content;
  }
  @include col-xs() {
    @content;
  }
}