%blog {
  .author {
    padding: 2rem 0;
    img {
      width: 60px;
      height: 60px;
	  @include media-breakpoint-down(sm) {
		width: 50px;
		height: 50px;
	  }

    }
    .profile {
      padding-left: 15px;
      line-height: 1.25rem;
      .bio, .date-published {
		@extend .text-muted;
        font-size: 0.875em;
      }
    }
  }
  .card {
    border-color: rgba(0, 0, 0, .08);
    margin-bottom: 2.5rem;
	a {
		color: inherit;
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
    img {
      max-height: 125px;
      object-fit: cover;
    }
	.card-body {
		.author {
			padding: 0;
		}
	}
	.card-img-left {
		max-height: 250px;
		max-width: 50%;
	}
	.card-text {
		font-size: 0.875rem;
	}
	.card-title {
		@include regular-font-family();
	}
    .card-footer {
      border-color: rgba(0, 0, 0, .08);
      background-color: white;
      .author {
        padding: 0;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.blog-index {
  @extend %blog;
  padding: 2rem 0;
  .jumbotron {
    background: none;
	.display-4 {
		@include regular-font-family();
		font-size: 3rem;
		  @include media-breakpoint-down(sm) {
			font-size: 2.5rem;
			line-height: 1.4;
		  }
	}
  }
  .pagination {
    .page-link {
      .fa {
        line-height: 1.25;
      }
    }
  }
}

.blog-page {
  @extend %blog;
  position: relative;
  line-height: 1.75;
  h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	line-height: 1.267em;
  }
  .card {
	img {
		max-height: 125px;
	}
  }
  .share-buttons {
    position: fixed;
    top: 8rem;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 5;
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    @include media-breakpoint-down(lg) {
      padding: 0.5rem;
      top: inherit;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid rgba(0, 0, 0, .08);
      background-color: white;
      flex-direction: row;
      justify-content: center;
    }
    $scale: 0.875;
    .share-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem * $scale;
      height: 3rem * $scale;
      box-shadow: none;
      border-radius: 0;
      text-align: center;
      font-size: 1.5rem * $scale;
      margin: 0.375rem 0;

      &:hover, &:focus, &:active {
        box-shadow: none;
      }

      @include media-breakpoint-down(lg) {
        margin: 0 0.25rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
      }

    }
  }
  .content {
    max-width: 700px;
    padding: 2rem 0;
	.author {
		padding-top: 0;
	}
    .stream-field {
      b {
        @include regular-font-family();
      }
      .caption {
		@extend .text-muted;
        text-align: center;
        margin-top: 0.5rem;
      }
      .title {
        @include regular-font-family();
		margin-top: 0;
        margin-bottom: 2.5rem;
		@include media-breakpoint-down(sm) {
			font-size: 1.875rem;
		}
      }
    }
  }
}