$floater-padding: 14rem;

@keyframes bounce-in-left-0 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  2.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes bounce-in-left-1 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  8% {
    transform: translateX(-175px);
    opacity: 1;
  }
  10.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes bounce-in-left-2 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  15% {
    transform: translateX(-175px);
    opacity: 1;
  }
  17.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.create-lead {
  #navbar {
    border-bottom: none;
    .navbar {
      padding: 2rem 0;
    }
  }
  .jumbotron {
    margin-bottom: 0;
  }

  .btn-early-access {
    @extend .btn-royal-blue;
    margin: 0.5rem 0;
  }

  .cards {
    margin-left: auto;
    margin-right: auto;
    .card {
      $border-top-radius: calc(1rem - 1px);
      border-top-right-radius: $border-top-radius;
      border-top-left-radius: $border-top-radius;
      box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.25);
      border: none;
      color: $body-color;
      .card-img-top {
        height: 160px;
        border-top-right-radius: $border-top-radius;
        border-top-left-radius: $border-top-radius;
        img {
          border-top-right-radius: $border-top-radius;
          border-top-left-radius: $border-top-radius;
          height: 100%;
          padding: 1.5rem;
        }
      }
      .card-title {
        @include regular-font-family();
        font-size: 1.125em;
        margin-bottom: 1.125rem;
        color: black;
      }
      .card-text {
        font-size: 0.875em;
      }
      .card-body {
        background-color: white;
      }
    }
  }

  .iphone-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
    overflow: hidden;

    &.perspective {
      svg {
        width: 100%;
        height: auto;
      }
    }

    &.vertical {
      svg {
        width: 100%;
        height: auto;
      }
      .message {
        animation-name: bounce-in-left-2;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.10);
        transform: translateX(-175px);

        &:nth-child(2) {
          animation-name: bounce-in-left-1;
        }
        &:nth-child(3) {
          animation-name: bounce-in-left-0;
        }

      }
    }
  }

  .how-it-works {
    padding-top: $floater-padding;
    $background-color: white;
    background-color: $background-color;
    .col-6 {
      &.fat {
        padding: 0 2em;
      }
    }
    .steps {
      position: relative;
      list-style: none;
      margin-top: 2.25rem;
      margin-left: 1.6rem;
      padding-left: 0;
      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 70%;
        //border-left: 5px dashed #CCC;
        background-image: linear-gradient(#CCC 33%, $background-color 0%);
        background-position: left;
        background-size: 10px 10px;
        background-repeat: repeat-y;
      }
      li {
        position: relative;
        padding-bottom: 5rem;
        text-align: left;

        &:last-child {
          padding-bottom: 0;
        }

        .icon {
          position: absolute;
          left: -10%;
          background-color: $background-color;
          width: 55px;
          height: 55px;
        }
      }
    }
  }

  .banner {
    background-position: top center;
    background-color: $fresh;

    .jumbotron {
      background-color: transparent;
      margin-bottom: 0;

      hr {
        border-color: lightgray;
      }
    }

    .introduction {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      color: white;
      .display-4 {
        @include regular-font-family();
        text-transform: capitalize;
        //font-size: 3.5rem;
        //line-height: 1.2em;
      }
      .lead {
        @include thin-font-family();
        line-height: 1.25em;
        font-weight: 400;
      }
      //.img-container {
      //  &:first-child {
      //    padding-right: ($spacer-x * .25) !important;
      //  }
      //  &:first-child {
      //    padding-right: ($spacer-x * .25) !important;
      //  }
      //}
      .row {
        &--coming-soon {
          padding-top: 15px;
          padding-bottom: 15px;
          height: 100px;
        }
        &--social-media {
          margin-top: 2%;
        }
      }
      .coming-soon {
        height: 63px;
      }
    }
  }

  .questions {
    background: linear-gradient(90deg, white 50%, $yellow-orange 50%);
    font-size: 1rem;
    .question {
      padding: 2rem;
      .row {
        //padding: 2em;
      }
      .icon {
        width: 100%;
        height: 100px;
        margin: auto;
      }
      &:nth-child(1) {
        color: black;
      }
      &:nth-child(2) {
        color: white;
      }
      .equal-height {
        height: 100%;
        width: 100%;
      }
    }
  }

  .business, .about-us {
    position: relative;
    text-align: center;
    background-color: $gigas;
    color: white;
    .container {
      max-width: 700px;
    }
    .title {
      //line-height: 1.325em;
    }
    .subtitle {
      font-size: 1.5em;
    }
    .content {
      font-size: 1.0625rem;
      padding-top: 2rem;
    }

    .floater {
      position: absolute;
      bottom: -$floater-padding * .625;
      left: 50%;
      transform: translate(-50%, 0);
      max-width: 900px;
      width: 95vw;
    }
  }

  .business {
    padding-bottom: $floater-padding;
  }

  .about-us {
    background-color: $royal-blue;
  }

  .early-access {
    background-color: white;
	form {
		&.form-inline {
			display: flex;
		}
		&.form {
			display: none;
		}
	}
    .lead {
      font-size: 1.0625rem;
    }
  }

  @include media-breakpoint-down(md) {
	  .early-access {
		form {
			&.form-inline {
				display: none;
			}
			&.form {
				display: block;
			}
		}
	  }
  }

  @include media-breakpoint-up(md) {
    .cards {
      .card {
        .card-text {
          text-align: justify;
        }
      }
    }
    .business {
      .floater {
        bottom: -$floater-padding * .75;
      }
    }

    .how-it-works {
      .display-4 {
        font-size: 3rem;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    font-size: 20%;
    @include col() {
      padding-bottom: 1rem;
    }
    .col-12 {
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
    .iphone-mockup {
      &.vertical {
        svg {
          width: 100%;
          height: 500px;
        }
      }
    }

    .display-4, .display-5, .display-6 {
      font-size: 1.5rem;
      line-height: 1.4;
    }
    //.row {
    //  margin-left: -7px;
    //  margin-right: -7px;
    //}
    .banner {
      .introduction {
        flex-wrap: wrap-reverse;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        .lead {
          @include light-font-family();
        }

      }
    }

    .questions {
      text-align: center;
      background: transparent;
      .container-fluid {
        .question-container {
          &:first-child {
            background-color: white;
            .question {
              .content {
                color: black;
              }
            }
          }
          &:last-child {
            background-color: $yellow-orange;
            color: white;
            .question {
              .content {
                color: white;
              }
            }
          }
        }

      }
      .question {
        padding: 1rem 1rem;
        .icon {
          width: auto;
        }
        .content {
          text-align: justify;
        }
      }
    }
    .business, .about-us {
      .content {
        padding-top: 1rem;
        font-size: 1rem;
        text-align: justify;
      }
    }

    .business {
      padding-bottom: 4rem;
    }

    .how-it-works {
      text-align: center;
      padding-top: 4rem;
      .steps {
        position: static;
        list-style: none;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        &::before {
          display: inline-block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          background: transparent;
        }
        li {
          position: relative;
          padding-bottom: 1rem;
          text-align: justify;
          font-size: 1rem;

          &:last-child {
            padding-bottom: 0;
          }

          .icon {
            display: block;
            position: static;
            background-color: transparent;
            width: auto;
            height: 8.5%;
            margin: auto;
          }
        }
      }
    }

    .why {
      background-color: #f2f2f2;
      .cards {
        .card {
          text-align: center;
          .card-img-top {
            .img-fluid {
              height: 100%;
              padding: 2rem;
            }
          }

          .card-body {
            .card-text {
              font-size: 1rem;
              text-align: justify;
            }
            .card-title {
              font-size: 1.25rem;
            }
          }
        }
      }
    }

    .early-access {
      text-align: center;
      .content {
        text-align: justify;
      }
      .form {
        .col-12 {
          padding-bottom: 0;
        }
      }
    }
  }
}