.legal {
  @extend .container;

  padding: 5% 10%;
  min-height: 125vh;
  line-height: 1.6875;

  .title {
    @include bold-font-family();
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
  }

  .subtitle {
    @include regular-font-family();
    margin-top: 30px;
  }

  p, .paragraph {
    font-size: 16px;
    margin: 1em 0;
  }
}