{% load static %}
{% load cache %}
<div class="row cards">
	<div class="col-md-4 px-1">
		<div class="card">
			<div class="card-img-top bg-fresh">
				<img class="img-fluid" src="{% static "svg/clock.svg" %}" />
			</div>
			<div class="card-body">
				<h4 class="card-title">Save Time</h4>
				<p class="card-text">No need to chase down your clients for payment. PunchKickTap will send
					your clients a friendly reminder when payment is due.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 px-1">
		<div class="card">
			<div class="card-img-top bg-royal-blue">
				<img class="img-fluid" src="{% static "svg/money.svg" %}" />
			</div>
			<div class="card-body">
				<h4 class="card-title">Get Paid</h4>
				<p class="card-text">PunchKickTap can add optional credit card processing to your invoices.
					Allowing your clients to quickly make payments online.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 px-1">
		<div class="card">
			<div class="card-img-top bg-vermillion">
				<img class="img-fluid" src="{% static "svg/checklist.svg" %}" />
			</div>
			<div class="card-body">
				<h4 class="card-title">Stay Organized</h4>
				<p class="card-text">Tell PunchKickTap about the project that you are doing for your client.
					She will keep track of your expenses and hours worked.</p>
			</div>
		</div>
	</div>
</div>
