{% load i18n %}
{% load staticfiles %}
{% load cache %}

{% cache 86400 footer %}
    <footer class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a class="fa fa-facebook-official fa-2x social-media"
                       href="https://www.facebook.com/PunchKickTap-1970538366498422/"></a>
                    <a class="fa fa-twitter fa-2x social-media" href="https://twitter.com/punchkicktap"></a>
                    <a class="fa fa-envelope fa-2x social-media" href="mailto:{{ info_email }}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="brand">{{ site_display_name }}</p>
                    <p>© Copyright 2017. All rights reserved.</p>
                    <p>
                        <a class="highlight" href="{% url 'privacy_policy' %}">Privacy</a>
                        <span class="fa fa-circle"></span>
                        <a class="highlight" href="{% url 'terms_of_service' %}">Terms</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endcache %}
