{% load i18n %}
{% load staticfiles %}
<html {% block html_attributes %}{% endblock %}>
<head>
    {% block above_the_fold_css %}{% endblock %}
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
	<meta name="description" content="{% block description %}Easily send invoices, record expenses, or track time by asking PunchKickTap, a virtual assistant built for your small business.{% endblock %}"/>
	<meta property="fb:app_id" content="1970538366498422" />
	{% block og_meta_tags %}
        <meta property="og:title" content="Send Invoices, Record Expenses, and Track Time With a Best in Class Virtual Assistant"/>
		<meta property="og:description" content="Easily send invoices, record expenses, or track time by asking PunchKickTap, a virtual assistant built for your small business."/>
        <meta property="og:url" content="https://punchkicktap.io/"/>
        <meta property="og:image" content="{% static "img/logo.png" %}"/>
		<meta property="og:site_name" content="PunchKickTap"/>
		<meta property="og:type" content="website"/>
    {% endblock %}
	{% block twitter_meta_tags %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Send Invoices, Record Expenses, and Track Time With a Best in Class Virtual Assistant">
		<meta name="twitter:description" content="Easily send invoices, record expenses, or track time by asking PunchKickTap, a virtual assistant built for your small business.">
		<meta name="twitter:image" content="{% static "img/logo.png" %}">
		<meta name="twitter:site" content="@punchkicktap">
		<meta name="twitter:creator" content="@punchkicktap">
	{% endblock %}
    <title>{% block title %}Send Invoices, Record Expenses, and Track Time With a Best in Class Virtual
        Assistant{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="preload" href="{% static "app.css" %}" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static "app.css" %}">
    </noscript>
    <script>
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        (function (w) {
            "use strict";
            /* exported loadCSS */
            var loadCSS = function (href, before, media) {
                // Arguments explained:
                // `href` [REQUIRED] is the URL for your CSS file.
                // `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
                // By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
                // `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
                var doc = w.document;
                var ss = doc.createElement("link");
                var ref;
                if (before) {
                    ref = before;
                }
                else {
                    var refs = ( doc.body || doc.getElementsByTagName("head")[0] ).childNodes;
                    ref = refs[refs.length - 1];
                }

                var sheets = doc.styleSheets;
                ss.rel = "stylesheet";
                ss.href = href;
                // temporarily set media to something inapplicable to ensure it'll fetch without blocking render
                ss.media = "only x";

                // wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
                function ready(cb) {
                    if (doc.body) {
                        return cb();
                    }
                    setTimeout(function () {
                        ready(cb);
                    });
                }

                // Inject link
                // Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
                // Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
                ready(function () {
                    ref.parentNode.insertBefore(ss, ( before ? ref : ref.nextSibling ));
                });
                // A method (exposed on return object for external use) that mimics onload by polling document.styleSheets until it includes the new sheet.
                var onloadcssdefined = function (cb) {
                    var resolvedHref = ss.href;
                    var i = sheets.length;
                    while (i--) {
                        if (sheets[i].href === resolvedHref) {
                            return cb();
                        }
                    }
                    setTimeout(function () {
                        onloadcssdefined(cb);
                    });
                };

                function loadCB() {
                    if (ss.addEventListener) {
                        ss.removeEventListener("load", loadCB);
                    }
                    ss.media = media || "all";
                }

                // once loaded, set link's media back to `all` so that the stylesheet applies once it loads
                if (ss.addEventListener) {
                    ss.addEventListener("load", loadCB);
                }
                ss.onloadcssdefined = onloadcssdefined;
                onloadcssdefined(loadCB);
                return ss;
            };
            // commonjs
            if (typeof exports !== "undefined") {
                exports.loadCSS = loadCSS;
            }
            else {
                w.loadCSS = loadCSS;
            }
        }(typeof global !== "undefined" ? global : this));
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        (function (w) {
            // rel=preload support test
            if (!w.loadCSS) {
                return;
            }
            var rp = loadCSS.relpreload = {};
            rp.support = function () {
                try {
                    return w.document.createElement("link").relList.supports("preload");
                } catch (e) {
                    return false;
                }
            };

            // loop preload links and fetch using loadCSS
            rp.poly = function () {
                var links = w.document.getElementsByTagName("link");
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.rel === "preload" && link.getAttribute("as") === "style") {
                        w.loadCSS(link.href, link, link.getAttribute("media"));
                        link.rel = null;
                    }
                }
            };

            // if link[rel=preload] is not supported, we must fetch the CSS manually using loadCSS
            if (!rp.support()) {
                rp.poly();
                var run = w.setInterval(rp.poly, 300);
                if (w.addEventListener) {
                    w.addEventListener("load", function () {
                        rp.poly();
                        w.clearInterval(run);
                    });
                }
                if (w.attachEvent) {
                    w.attachEvent("onload", function () {
                        w.clearInterval(run);
                    });
                }
            }
        }(this));
    </script>
    {% block head %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCW8ZQV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% block body %}{% endblock %}
<script src="{% static "vendor.js" %}"></script>
<script src="{% static "app.js" %}"></script>
<script>require('initialize');</script>
{% if not debug %}
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TCW8ZQV');
    </script>
{% endif %}
{% block scripts %}{% endblock %}
</body>
</html>
