{% extends "base.html" %}
{% load static %}
{% load cache %}
{% block body %}
    <div class="index">
        <section class="banner" style="background-image: url('{% static "img/concert.jpg" %}');">
            <div class="dimmer"></div>
            <div class="hidden-xs-down video-container">
                <video class="" autoplay="autoplay" loop="loop" poster="{% static "img/poster.jpg" %}">
                    <source src="{% static "vid/mma.mp4" %}" type="video/mp4">
                    <source src="{% static "vid/mma.ogg" %}" type="video/ogg">
                    <source src="{% static "vid/mma.webm" %}" type="video/webm">
                </video>
            </div>
            <form class="container form text-center text-sm-left" action="" method="post">
                {% if is_success %}
                    <div class="row">
                        <div class="col-12">
                            <h1 class="title">{{ site_display_name }}</h1>
                            <h4 class="subtitle">Thanks so much!</h4>
                            <p>We have added you to our early access list. We will send you an email as soon as we launch.</p>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <h1 class="title">{{ site_display_name }}</h1>
                            <h4 class="subtitle">Live to experience</h4>
                            <p>{% lorem 20 w random %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-7 col-md-8 email-address">
                            <input type="text" class="form-control {% if form.email_address.errors %}error{% endif %}"
                                   placeholder="What's your email address?"
                                   name="{{ form.email_address.name }}"
                                   id="id_{{ form.email_address.name }}">
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 submit">
                            <button class="btn btn-primary" type="submit">Request an invite</button>
                        </div>
                    </div>
                    <div class="row row--coming-soon">
                        <div class="col-12">
                            <img class="img-fluid coming-soon" src="{% static "img/coming_soon_ios.png" %}"/>
                            <img class="img-fluid coming-soon" src="{% static "img/coming_soon_android.png" %}"/>
                        </div>
                    </div>
                    <div class="row row--social-media">
                        <div class="col-12 social-media-gang">
                            <div class="social-media-container social-media-container--facebook">
                                <span class="fa fa-fw fa-facebook social-media"></span>
                            </div>
                            <div class="social-media-container social-media-container--instagram">
                                <span class="fa fa-fw fa-instagram social-media"></span>
                            </div>
                            <div class="social-media-container social-media-container--email">
                                <span class="fa fa-fw fa-envelope social-media"></span>
                            </div>
{#                            <span class="fa fa-fw fa-instagram social-media"></span>#}
{#                            <span class="fa fa-fw fa-envelope social-media"></span>#}
                        </div>
                    </div>
                {% endif %}
            </form>
        </section>
    </div>
{% endblock %}
